.mitad-form-bg{
	height:250px; 
	padding-top: 230px;
	padding-bottom: 25px;
	padding-right: 10px;
	padding-left: 10px;	
    margin:0 auto; 
	background-color: #F1F1F1;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image:url("http://vanitymiami.com/mitad-event/gana-2-entradas-gratis.png");
	background-repeat:no-repeat;
	background-position:center top;
}
.googlecustom input, 
.googlecustom textarea{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

button.googlecustom,
a.googlecustom,
.googlecustom input[type="submit"],
.googlecustom input[type="reset"],
.googlecustom input[type="image"] {
    padding: 8px 30px 7px 30px;
    margin: 5px 2px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.googlecustom input[type="button"] {
    padding: 8px 30px 7px 30px;
    margin: 5px 2px;
    color: #222222;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: #F0F0F0;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #F5F5F5));
    background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);
    background-image: linear-gradient(bottom, #F0F0F0 0%, #F5F5F5 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.googlecustom input[type="button"]:hover {
    background-color: #E8E8E8;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8E8E8), color-stop(100%, #F5F5F5));
    background-image: -webkit-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);
    background-image: linear-gradient(bottom, #E8E8E8 0%, #F5F5F5 100%);

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #cecece;
}

.googlecustom input[type="button"]:active {
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    box-shadow: 0px 1px 3px rgba(0,0,0,.3) inset;
    border: 1px solid #c9c9c9;
}

.googlecustom input[type="image"] {
    height: 17px;
    padding: 7px 10px 6px 10px;
    position: absolute;
}

.googlecustom input[type="text"],
.googlecustom input[type="password"],.googlecustom textarea {
    padding: 8px 10px;
    color: #555555;
    font-size: 22px;
    margin: 5px 2px;
    font-family: 'Droid Sans', sans-serif;
    background-color: #fdfdfd;
    border: 1px solid #c2c2c2;
}

.googlecustom input[type="text"]:hover,
.googlecustom input[type="password"]:hover,
.googlecustom textarea:hover {
    border: 1px solid #a2a2a2;
    outline: none;
    
    box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
}

.googlecustom input[type="text"]:focus,
.googlecustom input[type="password"]:focus,
.googlecustom textarea:focus {
    outline: none;
    
    box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.1) inset;
}

.googlecustom input.GLF_correctInput {
    border: 1px solid #90d190;
    color: #407d40;
    text-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.googlecustom input.GLF_correctInput:focus,
.googlecustom input.GLF_correctInput:hover {
    background-color: #e7f9e7;
    border: 1px solid #7cc17c;
}

.googlecustom input.GLF_wrongInput {
    border: 1px solid #ff9597;
    color: #933a3c;
}

.googlecustom input.GLF_wrongInput:focus,
.googlecustom input.GLF_wrongInput:hover {
    background-color: #fff2f2;
    border: 1px solid #ff6e70;
}

.GLF_search {
    position: relative;
}

.GLF_search input.searchINPUT {
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
}

.GLF_search input.searchBTN {
    position: absolute;

    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -4px;
}








/* Colors >>>> */
/*
*
* red Color
*
*/

.GC-red input[type="text"]:focus,
.GC-red input[type="password"]:focus,
.GC-red textarea:focus {
    border: 1px solid #d14836;
}

button.GC-red,
a.GC-red,
.GC-red input[type="submit"],
.GC-red input[type="reset"],
.GC-red input[type="image"] {
    background-color: #DD4C39;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DD4C39)color-stop(0%, #D14836));
    background-image: -webkit-linear-gradient(bottom, #DD4C39 100%, #D14836 0%);
    background-image: -moz-linear-gradient(bottom, #DD4C39 100%, #D14836 0%);
    background-image: -o-linear-gradient(bottom, #DD4C39 100%, #D14836 0%);
    background-image: -ms-linear-gradient(bottom, #DD4C39 100%, #D14836 0%);
    background-image: linear-gradient(bottom, #DD4C39 100%, #D14836 0%);
    
    border: 1px solid #d64232;
    text-shadow: 0 1px 0 #d64232;
}

button.GC-red:hover,
a.GC-red:hover,
.GC-red input[type="submit"]:hover,
.GC-red input[type="reset"]:hover,
.GC-red input[type="image"]:hover {
    background-color: #BF362A;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #E04B3A)color-stop(0%, #BF362A));
    background-image: -webkit-linear-gradient(bottom, #E04B3A 100%, #BF362A 0%);
    background-image: -moz-linear-gradient(bottom, #E04B3A 100%, #BF362A 0%);
    background-image: -o-linear-gradient(bottom, #E04B3A 100%, #BF362A 0%);
    background-image: -ms-linear-gradient(bottom, #E04B3A 100%, #BF362A 0%);
    background-image: linear-gradient(bottom, #E04B3A 100%, #BF362A 0%);

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #BF362A;
}

button.GC-red:active,
a.GC-red:active,
.GC-red input[type="submit"]:active,
.GC-red input[type="reset"]:active,
.GC-red input[type="image"]:active {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    border: 1px solid #BF362A;
}

/*
*
* =red Color
*
*/